.head {
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: larger;
    font-size: 23px;
    color: #97D9E1;
    padding: 7px;
}

.btns {
    margin: 0px 0px 15px 0px;

    background: #C2D9FF;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    font-family: '霞鹜文楷'
}

.el-form-item {
    width: 87%;
}